.sso-logo-box{
    margin:10px;
}
.sso-logo{
    width:90px;
    height:90px;
}
.sso-logo-title{
    color:black;
    margin: 0 0 0 10px ;
    text-align:center;

}
.sso-logo-box a:link{
    text-decoration:none;
}

#dropdownDiv{
    z-index: 999;
}